* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.pop-up-win {
	display: none;
	position: fixed;
	top: 20%;
	left: 50%;
	transform: translate(-50%, 0);
	background-color: aqua;
	padding: 1rem;
	border-radius: 1rem;
	text-align: center;
	z-index: 5;
}

.display-popup .pop-up-win {
	display: block;
}

.new-game-popup-btn {
	padding: 0.3rem 1.5rem;
	border: none;
	border-radius: 0.4rem;
}

.fa-check {
	visibility: hidden;
	position: relative;
	float: right;
	margin-top: 0.5rem;
}
.display-tick-light .li,
.display-tick-dark .da,
.display-tick-dark2 .da2,
.display-tick-purple .pu,
.display-tick-special .sp,
.display-tick-t3 .t3,
.display-tick-t4 .t4,
.display-tick-t5 .t5,
.display-tick-t6 .t6,
.display-tick-num .num,
.display-tick-tex .tex,
.display-tick-pic .pic,
.display-tick-gra .gra,
.display-tick-nor .nor {
	visibility: visible;
}

/* Dropdown Button */
.dropbtn {
	padding: 1rem;
	min-width: 10rem;
	font-size: 2rem;
	font-weight: 900;
	text-transform: uppercase;
	margin: 2rem 2rem 0 0;
	border: none;
	cursor: pointer;
}

.dropbtn .fa-chevron-down {
	margin: 0 0.2rem 0 2rem;
	transition: 0.2s;
}

.spin-animation,
.spin-animation-layout,
.spin-animation-mode,
.spin-animation-type {
	transform: rotateX(-180deg);
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
	left: 0;
	top: 0;
	margin-left: 2rem;
	text-transform: uppercase;
	font-size: 2rem;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	display: none;
	position: absolute;
	margin: 0.4rem 2rem 0 0;
	border: 1px solid;
	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 1rem;
	text-align: left;
	z-index: 2;
}

.dropdown-content-theme {
	width: 13rem;
}

.dropdown-content-layout,
.dropdown-content-mode,
.dropdown-content-type {
	margin-top: 6.2rem;
}

.dropdown-content-layout {
	width: 14.4rem;
	transform: translateX(-13.6rem);
}

.dropdown-content-mode {
	width: 14.4rem;
	transform: translateX(15.6rem);
}

.dropdown-content-type {
	width: 14.4rem;
	transform: translateX(1rem);
}

/* Links inside the dropdown */
.dropdown-content div {
	padding: 1.2rem 1.6rem;
	text-decoration: none;
	display: block;
}

.theme {
	cursor: pointer;
	font-size: 2rem;
	font-weight: 700;
}

#toggle-special,
#toggle-6,
#toggle-gra,
#toggle-nor {
	border-bottom-left-radius: 0.9rem;
	border-bottom-right-radius: 0.9rem;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
	display: block;
}

.dropbtn-themeswitch:hover,
.dropbtn-themeswitch:focus {
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/* heading */
.heading {
	display: absolute;
	text-align: center;
	text-transform: capitalize;
	font-weight: 900;
	font-size: 6.2rem;
	margin-top: 2rem;
	font-family: "Cookie", cursive;
}

.newgame-time-moves {
	display: flex;
	justify-content: space-between;
	margin: 0.6rem auto;
	width: 27.3rem;
}

.newgame,
.time-moves {
	padding: 0.1rem 0.7rem;
	border-radius: 0.5rem;
	border: none;
	font-weight: 700;
}

.newgame {
	font-size: 1.3rem;
}

.time-value,
.moves-value {
	text-align: right;
	font-size: 1.2rem;
	font-weight: 700;
	margin-top: -0.4rem;
	margin-bottom: 0.6rem;
}

.time-moves {
	font-size: 0.8rem;
	display: flex;
	width: 11rem;
}

.time-timevalue,
.moves-movesvalue {
	flex: 50%;
	display: flex;
	flex-direction: column;
	text-align: right;
	font-size: 0.8rem;
	font-weight: 600;
	margin-top: 0.2rem;
	margin-bottom: -0.4rem;
}

.moves-movesvalue {
	margin-left: 3rem;
	margin-right: 0.5rem;
}

.game-mode,
.layout,
.type {
	padding: 0.7rem;
}

.options {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 1rem;
	zoom: 0.75;
}

.options-options {
	margin: 0;
	border: none;
	padding: 1rem 0;
	width: 9.6rem;
	font-weight: 700;
	font-size: 1.3rem;
	text-transform: uppercase;
}

.options-options:disabled {
	cursor: not-allowed;
}

.p-btn:disabled {
	cursor: not-allowed;
}

.options-options .fa-chevron-down {
	transition: 0.2s;
	margin-left: 1rem;
	margin-right: 0.5rem;
}

.options .layout {
	border-top-left-radius: 0.5rem;
	border-bottom-left-radius: 0.5rem;
	padding-left: 0.7rem;
}

.options .game-mode {
	border-top-right-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
	padding-right: 0.7rem;
}

.pause-button {
	width: 100%;
	text-align: center;
	margin-top: 0.5rem;
}

.pause-button #sw-go {
	width: 10rem;
	padding: 0.4rem;
}

.game {
	padding: 5px 15px;
	border-radius: 5px;
	zoom: 1.1;
}

.grid {
	display: grid;
	justify-content: center;
	grid-template-columns: 80px 80px 80px 80px;
	grid-template-rows: 80px 80px 80px 80px;
}

.grid button {
	border-radius: 0.6rem;
	margin: 0.2rem;
	font-size: 2rem;
	font-weight: 800;
	border: none;
}

.scoreboard-title {
	text-align: center;
	margin-top: 4rem;
	font-family: "Cookie", cursive;
	font-weight: 700;
	font-size: 4rem;
}

.scoreboard-table {
	margin: 0rem auto;
	border-radius: 0.5rem;
	width: 35rem;
}

.scoreboard-table tr th {
	padding: 0.6rem 1rem;
	border-bottom: 0.5px solid white;
	font-size: 1.1rem;
}

.user-serial {
	border-top-left-radius: 0.5rem;
}

.user-serial,
.user-header,
.user-time,
.user-serial-value,
.user-header-value,
.user-time-value {
	border-right: 0.5px solid white;
}

.user-moves {
	border-top-right-radius: 0.5rem;
}

.scoreboard-table tr td {
	padding: 0.4rem 1rem;
}

.my-field {
	margin: 0 auto;
	position: relative;
}

.my-tile {
	border-radius: 10px;
	vertical-align: middle;
	text-align: center;
	font-weight: bold;
	cursor: pointer;
	position: absolute;
	z-index: 1;
}

.my-tile-bg {
	border-radius: 10px;
	position: absolute;
	z-index: 0;
}

@media only screen and (max-width: 521px) {
	.dropbtn {
		zoom: 0.8;
	}
	.dropdown-content-theme {
		zoom: 0.8;
	}
	.heading {
		font-size: 13vw;
	}
	.newgame-time-moves {
		width: 27.2rem;
		transform: scale(0.8);
		margin: auto;
	}
	.pause-button {
		zoom: 0.8;
	}
	.options {
		zoom: 0.75;
	}
	.my-field {
		zoom: 0.8;
	}
	.scoreboard {
		zoom: 0.8;
	}
}

@media only screen and (max-width: 432px) {
	.newgame-time-moves {
		width: 23rem;
	}
	.options {
		zoom: 0.6;
	}
}

@media only screen and (max-width: 600px) {
	.scoreboard {
		zoom: 0.8;
	}
}

@media only screen and (max-width: 470px) {
	.scoreboard {
		zoom: 0.7;
	}
}

@media only screen and (max-width: 410px) {
	.scoreboard {
		zoom: 0.6;
	}
}
/* h1 {
	font-size: 5.9vw;
}
h2 {
	font-size: 3vh;
}
p {
	font-size: 2vmin;
} */
