body.theme-dark {
	background-color: #0d1117;
}

.theme-dark .dropbtn-themeswitch {
	background-color: #58a6ff;
	color: white;
}

.theme-dark .dropdown-content-themeswitch {
	background-color: #1c2128;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	border-color: #30363d;
}

.theme-dark .dropdown-content-themeswitch div {
	color: #c9d1d9;
}

/* Change color of dropdown links on hover */
.theme-dark .dropdown-content-themeswitch div:hover {
	background-color: #58a6ff;
	color: black;
}

/* Dropdown button on hover & focus */
.theme-dark .dropbtn-themeswitch:hover,
.theme-dark .dropbtn-themeswitch:focus {
	background-color: #298dff;
}

.theme-dark .heading,
.theme-dark .scoreboard-title {
	color: #58a6ff;
}

.theme-dark .newgame,
.theme-dark .time-moves,
.theme-dark .options-options,
.theme-dark .scoreboard-table tr th {
	background-color: #58a6ff;
	color: white;
}

.theme-dark .newgame:hover,
.theme-dark .newgame:active,
.theme-dark .options-options:hover,
.theme-dark .options-options:focus {
	background-color: #298dff;
}

.theme-dark .scoreboard-table tr td {
	background-color: #1c2128;
}

.theme-dark .scoreboard-table tr td.user-serial-value {
	background-color: #84bdff;
}

.theme-dark .scoreboard-table tr td {
	color: white;
}

.theme-dark .my-tile {
	background-color: rgb(120, 238, 169);
	color: white;
}

.theme-dark .my-tile-bg {
	background-color: #2f3846 !important;
}

.theme-dark .color-tile {
	background-color: rgb(232, 138, 69);
	color: white;
}
